* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* google font inter  */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Here all styles applied for navigation bar  */
#nav-bar {
    max-width: 1600px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 120px;
    padding: 16px 0px;
}

.nav-list,
p {
    font-size: 16px;
    font-weight: 200;
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-btn {
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 16px;
    border-radius: 7px;
    border: none;
    background-color: #30B868;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #34e07c;
}

/* here all styles for header banner  */

#header-banner {
    /* height: 674px;  */
    max-width: 1600px;
    margin: 0px auto;
    background: url(../assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
}

.banner-body {
    padding: 45px;
    text-align: center;


}

.banner-text h3 {
    display: inline-block;
    justify-items: center;
    margin-bottom: 16px;
    padding: 6px 12px 6px 34px;
    color: #30B868;
    font-size: 16px;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;

}

.circule {
    margin-left: 12px;
    background-color: #30B868;
    border-radius: 50px;
    /* font-size: 16px;  */
    /* margin-left: 6px;  */

}
.banner-text h1 {
    color: white;
    font-size: 3.5em;
    margin-bottom: 16px;

}

.banner-text h4 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn img {
    margin-left: 10px;
}

.see-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
}


.see-btn img {
    width: 20px;
    margin-right: 5px;


}

