* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* google font inter  */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Here all styles applied for navigation bar  */
#nav-bar {
    max-width: 1600px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 120px;
    padding: 16px 0px;
}

.nav-list, p {
    font-size: 16px;
    font-weight: 200;
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-btn {
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 16px;
    border-radius: 7px;
    border: none;
    background-color: #30B868;
    color: white;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #34e07c;
}
