/* I have designed my page for 1600px viewport  */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* google font inter  */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Here all styles applied for navigation bar  */
#nav-bar {
    max-width: 1600px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 120px;
    padding: 16px 0px;
}

.nav-list,
p {
    font-size: 16px;
    font-weight: 300;
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-list-p {
    color: black;
}

.nav-btn {
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 16px;
    border-radius: 7px;
    border: none;
    background-color: #30B868;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #34e07c;
}

/* here all styles for header banner  */

#header-banner {
    /* display: none;  */
    /* height: 674px;  */
    max-width: 1600px;
    margin: 0px auto;
    background: url(../assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
}

.banner-body {
    padding: 45px;
    text-align: center;


}



.circule {
    margin-left: 12px;
    background-color: #30B868;
    border-radius: 50px;
    /* font-size: 16px;  */
    /* margin-left: 6px;  */

}

.banner-text h1 {
    color: white;
    font-size: 3.5em;
    margin-bottom: 16px;

}

.banner-text h4 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn img {
    margin-left: 10px;
}

.see-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
}

.see-btn:hover {
    background-color: rgba(255, 255, 255, 0.227);
}

.see-btn img {
    width: 20px;
    margin-right: 5px;


}

.extraimg {
    display: inline-flex;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    background-color: white;
    padding: 6px 12px 6px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #30B868;

}

.extraimg img {
    margin-right: 8px;
}

.extraimg h3 {
    font-size: 16px;
    font-weight: 400;
}

/* here all design is for body main  */

#firstbody {
    width: 1600px;
    padding: 0 120px 0 120px;
    margin: 0 auto;
}

.firsbody-section {
    /* text-align: center;  */
    justify-items: center;
    padding-top: 50px;
}

.firsbody-section,
h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.firsbody-section,
p {
    font-size: 16px;
    color: #627382;
    line-height: 1.5;
}

.allcard {
    display: flex;
    margin-top: 44px;
    gap: 24px;
}

.allcard .card {
    max-width: 322px;
    min-height: 300px;
    text-align: center;
    justify-items: center;
    padding: 0px 24px;
    box-shadow: 0 4px 6px black;
}

.card img {
    margin-top: 70px;
    background-color: #ff0000;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 16px;
}

.card h3 {
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.card p {
    font-size: 16px;
    color: #627382;

}

/* here all styles are for seondbody part  */

#secondbody {
    width: 1600px;
    margin: 0 auto;

    padding: 120px;
    /* border: 1px solid red;  */
}

.secondbody-main {
    /* border: 1px solid blue;  */
    display: flex;
}


.secondbody-text {

    /* border: 1px solid red;  */
    margin: 102px 0 102px 60px;
}

.secondbody-text h4 {
    color: #30B868;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.secondbody-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #001931;
    margin-bottom: 16px;
}

.secondbody-text p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;

}

.secondbody-checkicon {
    display: flex;
    align-items: center;
    gap: 8px;

    /* display: inline-block;  */
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 14px;
}


/* Its my third body styles  */

#thirdbody {
    width: 1600px;
    margin: 0 auto;
    padding: 0 120px 120px 120px;
}

.thirdbody-main {
    background-color: #F7F6F2;
    padding: 80px 40px;
    justify-items: center;
}

.thirdbody-text {
    text-align: center;
    justify-items: center;
}

.thirdbody-text h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 16px;
}

.thirdbody-text p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}

.thirdbody-text button {
    margin-bottom: 16px;
}

/* its my footer section  */

#footer-main {
    width: 1600px;
    margin: 0 auto;
    padding: 120px 120px 30px 120px;
    background-color: #073763;
}

.foter-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-social {
    margin-right: 64px;
}

.footer-social h4 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;

}

.social-img img {
    display: inline-block;
    margin-right: 20px;
    max-width: 15px;
    /* height:20px;  */
    /* width: 20px;  */
    border-radius: 50%;
    background-color: white;
}

.foter-two {
    justify-items: center;
    margin-top: 30px;


}

.foter-two p {
    font-size: 16px;
    color: white;
}

/* its end here  */